*, ::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-size;
}

body {
    background-image:url("image.jfif");
  background-repeat:no-repeat;
  background-size:1000px 1000px;
}

h1{
    color:white;
}