
:root {
    --clr-box :white;
    --border-radius:10px;
    --hover-color:blue;
}

*, ::after, ::before {
    margin:0;
    padding:0;
    box-sizing: border-size;
    border:none;
}

body {
    background-image:url("image.jpg") center/cover no-repeat;
    
    

}
h1, .title {
    line-height:40px;
}
h1{
    color:greenyellow;
   

}

.title {
    color:black;
    font-size:3rem;
    font-family: fantasy;

   
}


.box {
    background-color:var(--clr-box);
    height:10rem;
    width:50rem;
    position: fixed;
    display:flex;
    justify-content: center;
    border-radius:var(--border-radius);
    margin:2rem;
    padding:3rem;
    letter-spacing: 0.2rem;
    
   
}

button {
    padding: 0.5rem;
    border-radius:var(--border-radius);
    background-color:var(--hover-color);  
}

button:hover {
    background-color:var(--hover-color);
}

.box-1 {
    display:block;
    gap:1rem;
    line-height:8rem;
}


/*****************************An other box********************************/


.box {
    background-color:var(--clr-box);
    height:10rem;
    width:50rem;
    position: fixed;
    display:flex;
    justify-content: center;
    border-radius:var(--border-radius);
    margin:2rem;
    padding:3rem;
    letter-spacing: 0.2rem;  
}
